.star-rating {
    display: flex; /* Establece el contenedor como un flexbox */
    flex-direction: row; /* Dirección horizontal */
    align-items: center; /* Alinea los elementos verticalmente */
}

.star {
    width: 20px;
    height: 20px;
}